<ion-header>
  <ion-navbar>
  <ion-buttons start>
      <button ion-button icon-only (click)=toggleSearch() >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start >
      <button ion-button icon-only  *ngIf="!isAllStocksLoaded" (click)=startLiveReload()>
        <ion-icon name="play"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="isAllStocksLoaded" (click)=stopLiveReload()>
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button ion-button icon-only (click)=toggleFilters()>
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
    <div item-center>My Stocks</div>
    <ion-buttons end>
      <button ion-button icon-only (click)=toggleSearchVisibility()>
        <ion-icon name="add-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
    <ion-item *ngIf="showField" class="flyout">
      <ion-label floating>Add New Stock (Key in and Enter)</ion-label>
      <ion-input type="text" [(ngModel)]="newstock" (change)="addNewStock(newstock)"  ></ion-input>
    </ion-item>
    <ion-item *ngIf="showSearch" class="flyout">
      <ion-label floating>Search Script (Key in and Enter)</ion-label>
      <ion-input type="text" [(ngModel)]="scriptName" (change)="searchForThisScript(scriptName)"  ></ion-input>
    </ion-item>
    <ion-list radio-group *ngIf="showFilter" [(ngModel)]="currentfilter" class="flyout">
      <ion-list-header>
        Filter Stocks by: 
      </ion-list-header>
        <ion-item>
          <ion-label>Gainer</ion-label>
          <ion-radio value="gainer" (click)="shortByCustomGainerValue('cp_fix')" (change)="shortByCustomGainerValue('cp_fix')" ></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Loser</ion-label>
          <ion-radio value="looser" (click)="shortByCustomLoserValue('cp_fix')" ></ion-radio>
        </ion-item>
      <ion-item >
        <ion-label>Price</ion-label>
        <ion-radio value="price" (click)="shortByCustomValue('l')" value="Price"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Name</ion-label>
        <ion-radio value="name" (click)="shortByScriptName('t')"></ion-radio>
      </ion-item>
      <button class="filter-close-button" (click)="hideFlyoutsMenu()" ion-button>Close</button>
    </ion-list>
</ion-header>

<ion-content > 
      <ion-list>
        <ion-item-sliding *ngFor="let stock of myStockList; let ii = index" class="stock__container">
          <ion-item >
            <h2><span class="name">{{stock.t}}</span><span class="price">{{stock.l_cur}} 
                  <span *ngIf="stock.cp_fix>0" class="ticker_high">{{stock.c}}({{stock.cp_fix}}%)</span>
                  <span *ngIf="stock.cp_fix==0" class="ticker_neutral">{{stock.c}}({{stock.cp_fix}}%)</span>
                  <span *ngIf="stock.cp_fix<0" class="ticker_low">{{stock.c}}({{stock.cp_fix}}%)</span>
              </span>
              <span class="upordown width10">
                <button clear="" color="primary" icon-only="" (click)=openGoogleChart(stock.t) ion-button="" class="disable-hover button button-ios button-clear button-clear-ios button-clear-ios-dark" ng-reflect-color="dark"><span class="button-inner">
                  <ion-icon is-active="false" name="analytics"  aria-label="analytics" ng-reflect-name="analytics"></ion-icon>
                </span></button>

              </span>
              <span class="upordown width10">
                <button clear="" color="secondary"  (click)=removeStock(ii) icon-only="" ion-button="" class="disable-hover button button-ios button-clear button-clear-ios button-clear-ios-dark" ng-reflect-color="dark"><span class="button-inner" >
                  <ion-icon is-active="false" name="remove-circle"  aria-label="remove-circle" ng-reflect-name="remove-circle"></ion-icon>
                </span></button>

              </span>
            </h2>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="primary" (click)=storeTextForTicker(stock.t)>
              <ion-icon name="text"></ion-icon>
              Text
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>  
      <button class="filter-close-button" *ngIf="!isAllStocksLoaded && this.myStockList != this.actualStockList;" (click)="toggleSearch();hideFlyoutsMenu()" ion-button>Clear Search</button>
</ion-content>
